header {
    height: 8vh;
    width: 100%;
    // background: $color2;
    min-height: 60px;
    // box-shadow:  0px 0px 1px $color2;
    position: fixed;
    background: $color1;

    nav {
        height: 100%;
        display: flex;
        align-items: center;

        #logo-wrapp {
            flex: 1;
            display: flex;
            justify-content: flex-start;

            #logo {
                color: $color3;
                color: #fff;
                font-size: 16px;
            }
        }

        #menu-wrapp {
            flex: 2;
            display: flex;
            justify-content: flex-end;

            #list-menu-wrapp {
                height: 100%;
                width: 100%;
                
                ul {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    list-style: none;
                    justify-content: space-around;
                    align-items: center;

                    li {
                        a {
                            color: #fff;
                            font-size: 14px;
                        }

                        &:nth-child(5) {
                            background: $color3;
                            border-radius: 15px;
                            a {
                                min-height: 32px;
                                min-width: 90px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
            
            #hamburger-menu-wrapp {
                // background: red;
                height: 100%;
                width: 100%;
                // display: flex;
                justify-content: flex-end;
                align-items: center;

                #hamburger-menu {
                    height: 19px;
                    width: 30px;
                    // background: red;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;

                    .hamburger-menu-line {
                        height: 1px;
                        width: 100%;
                        // background: red;
                        background: #fff;
                        transition: .4s;

                        &:nth-child(1) {
                            width: 70%;
                            margin-left: 30%;
                        }

                        &:nth-child(3) {
                            width: 70%;
                        }
                    }

                    .hamburger-menu-line-active {

                        &:nth-child(1) {
                            // transform: rotate(45deg);
                            width: 100%;
                            margin-left: 0;
                        }


                        &:nth-child(3) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

#header-gap {
    height: 8vh;
    min-height: 60px;
}

@media only screen and (max-width: 920px) {
    #list-menu-wrapp {
        display: none;
    }

    #hamburger-menu-wrapp {
        display: flex;
    }
}

@media only screen and (min-width: 920px) {
    #hamburger-menu-wrapp {
        display: none;
        background: palegreen;
    }
}

.modal-menu {
    position: absolute;
    height: 100vh;
    width: 70%;
    left: -70%;
    background: $color1;
    border-right: 1px solid black; 
    transition: .3s;
}

.modal-menu-active {
    left: 0;
    // right: 30px;

}