@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@400;700;900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

#logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#homepage {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#homepage #homepage-heading {
  color: #fff;
  font-size: 48px;
}

#homepage #homepage-subheading {
  height: 10vh;
  width: 80%;
}

#homepage #homepage-subheading ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#homepage #homepage-subheading ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#homepage #homepage-subheading ul li .homepage-subheading-li-wrapp {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homepage #homepage-subheading ul li .homepage-subheading-li-wrapp .homepage-subheading-circle-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#homepage #homepage-subheading ul li .homepage-subheading-li-wrapp .homepage-subheading-circle-wrapp .homepage-subheading-circle {
  height: 5px;
  width: 5px;
  background: #fff;
  border-radius: 50%;
}

#homepage #homepage-subheading ul li .homepage-subheading-li-wrapp .homepage-subheading-text-wrapp {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#homepage #homepage-subheading ul li .homepage-subheading-li-wrapp .homepage-subheading-text-wrapp .homepage-subheading-text {
  color: #fff;
  color: #d4d3d3;
  font-weight: 400;
  font-size: 12px;
}

@media screen and (max-width: 700px) {
  #homepage-img {
    max-width: 800px;
  }
}

#homepage-img {
  width: 120%;
  margin-left: -8%;
}

#homepage-btns-wrapp {
  height: 10vh;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5vh;
}

.homepage-cta-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage-cta {
  width: 100%;
  height: 75%;
  cursor: pointer;
}

.homepage-cta-wrapp:nth-child(2) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#homepage-cta1 {
  background: #fafafa;
  background: #C72A2A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: .4s background;
  transition: .4s background;
}

#homepage-cta1:hover {
  background: #171717;
  border: 2px solid #C72A2A;
}

#homepage-cta2 {
  border: 1px solid #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

header {
  height: 8vh;
  width: 100%;
  min-height: 60px;
  position: fixed;
  background: #171717;
}

header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #logo-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav #logo-wrapp #logo {
  color: #C72A2A;
  color: #fff;
  font-size: 16px;
}

header nav #menu-wrapp {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav #menu-wrapp #list-menu-wrapp {
  height: 100%;
  width: 100%;
}

header nav #menu-wrapp #list-menu-wrapp ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #menu-wrapp #list-menu-wrapp ul li a {
  color: #fff;
  font-size: 14px;
}

header nav #menu-wrapp #list-menu-wrapp ul li:nth-child(5) {
  background: #C72A2A;
  border-radius: 15px;
}

header nav #menu-wrapp #list-menu-wrapp ul li:nth-child(5) a {
  min-height: 32px;
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav #menu-wrapp #hamburger-menu-wrapp {
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #menu-wrapp #hamburger-menu-wrapp #hamburger-menu {
  height: 19px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

header nav #menu-wrapp #hamburger-menu-wrapp #hamburger-menu .hamburger-menu-line {
  height: 1px;
  width: 100%;
  background: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

header nav #menu-wrapp #hamburger-menu-wrapp #hamburger-menu .hamburger-menu-line:nth-child(1) {
  width: 70%;
  margin-left: 30%;
}

header nav #menu-wrapp #hamburger-menu-wrapp #hamburger-menu .hamburger-menu-line:nth-child(3) {
  width: 70%;
}

header nav #menu-wrapp #hamburger-menu-wrapp #hamburger-menu .hamburger-menu-line-active:nth-child(1) {
  width: 100%;
  margin-left: 0;
}

header nav #menu-wrapp #hamburger-menu-wrapp #hamburger-menu .hamburger-menu-line-active:nth-child(3) {
  width: 100%;
}

#header-gap {
  height: 8vh;
  min-height: 60px;
}

@media only screen and (max-width: 920px) {
  #list-menu-wrapp {
    display: none;
  }
  #hamburger-menu-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 920px) {
  #hamburger-menu-wrapp {
    display: none;
    background: palegreen;
  }
}

.modal-menu {
  position: absolute;
  height: 100vh;
  width: 70%;
  left: -70%;
  background: #171717;
  border-right: 1px solid black;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal-menu-active {
  left: 0;
}

#aboutpage {
  min-height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#page {
  min-height: 100vh;
  width: 100%;
  background: #171717;
}

@media screen and (min-width: 1340px) {
  .container {
    margin: auto;
    max-width: 1320px;
  }
}

@media screen and (max-width: 1340px) {
  .container {
    margin: auto;
    max-width: 1120px;
  }
}

@media screen and (max-width: 1140px) {
  .container {
    margin: auto;
    max-width: 900px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    margin: auto;
    max-width: 420px;
  }
}

@media screen and (max-width: 520px) {
  .container {
    margin: auto;
    max-width: 350px;
  }
}
/*# sourceMappingURL=styles.css.map */