@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@400;700;900&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

* {
    font-family: 'Poppins', sans-serif;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

// $color1: #010517;
$color1: #171717;
// $color2: #3d11ff;
$color2: #fafafa;
// $color3: #d41f3a;
$color3: #C72A2A;

a {
    text-decoration: none;
}